

/* Global styles */
html { height: 100%; font-size: 1.188em; -webkit-text-size-adjust: 1.188em; -ms-text-size-adjust: 1.188em; }
body { height: 100%; margin:0; padding:0; font-family: "SS", sans-serif; color: #dcdcdc; background-color: #282829}
h1, h2, h3, h4 { font-weight: normal; }
input, select { border:0; margin:0; padding: 8px 10px 8px 10px; background-color: #dcdcdc; color: #1f1f21; font-family:"SS", sans-serif; font-size: 0.875em; }
button { border:0; padding: 10px 20px; margin:0; margin-right: 20px; font-family:"SS", sans-serif; transition: all ease 0.25s; -webkit-transition: all ease 0.25s; }
button:hover {cursor:pointer;}
ul {padding: 0; margin: 0;}
li { list-style: none; }
table { padding: 10px; }
hr { border:1px solid #dcdcdc; }
th { font-family: "SSBold", sans-serif; text-align: left; border-bottom:2px solid #dcdcdc; }
td { padding-top:7px; padding-bottom:7px; }
label.block { display: block; }

/* Global classes */
.centerH { margin-left: auto; margin-right: auto; }
.centerV { transform: translate(0, 50%); -ms-transform: translate(0, 50%); -webkit-transform: translate(0, 50%); }
.centerText { text-align: center; }
.hidden { display: none; }
div.button { display: inline-block; position:relative; }
div.button:hover { background-color: #2c2c2d }
.collapse { border-collapse: collapse; }

.modal { margin-left: auto; margin-right: auto; transform: translate(0, 50%); -ms-transform: translate(0, 50%); -webkit-transform: translate(0, 50%); position: relative; width: 380px;
    padding: 20px; background-color:#0055d4; overflow: auto;}
.modal h1, .modal h2 { margin-top: 0px; margin-bottom: 20px; }
.modal h2 { margin-bottom: 10px; }
.modal input[type='text'], .modal input[type='password'] { width: 360px; margin-bottom: 20px; }
.modal input[type='radio'] { margin-left: 10px; margin-right: 10px; }
.modal select { width: 360px; }
.modal button { background-color: #dcdcdc; color: #1f1f21; }
.modal button:hover { background-color: #a5a5a5; }

/* Specific Styles */
#modals { position:absolute; left:0; top:0; z-index:999; height:100%; width: 100%; background-color:rgba(25,25,26,0.7)}

#settingsModal { width: 600px; }
.modal .colLeft { float:left; width: 190px; font-family: "SSBold", sans-serif; }
.modal .colRight { float: left; width: 390px; padding-left: 20px; }
.modal .colRight label, #settingsModal .colRight span { margin-left: 10px; }
.modal .row {overflow:auto; margin-bottom: 20px;}

.pane { float: left; width: calc(100% - 315px); height: calc(100% - 68px); padding-left: 20px; padding-right: 20px; padding-bottom: 20px; }
.pane h1, .pane h2 { margin-bottom: 10px; margin-top: 10px; }
.pane .row { width: 100%; overflow: auto; margin-bottom: 20px; }
.pane .colLeft { float: left; width: 25%; }
.pane .colLeft label, .colLeft.label { font-family: "SSBold", sans-serif; }
.pane .colLeft.tall { margin-top: 8px; }
.pane .colRight { float: left; width: 73%; padding-left: 1%; padding-right: 1%;}
.pane .colRight > input[type='text'], .pane .colRight > select { width: 200px }
.pane table { width: 100%; padding:0; }
.pane table select, .pane table input[type='text'] { width: calc(100% - 20px); }

#autoPlaylistPane { overflow-y: scroll; }

#topBar { width: 100%; height: 100px; background-color: #19191a}

#mainPane { width: 100%; height: calc(100% - 100px); }

#leftBar { float: left; width: 275px; height: 100%; background-color: #1f1f21;}

#navBar { width: 100%; overflow-x: hidden; overflow-y: auto; }
#navBar.playing { height: calc(100% - 275px);}
#navBar li { transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }
#navBar li:before { position:absolute; top:0; left:0; height:100%; content: "."; color: transparent; border-left:7px solid #1f1f21; padding-bottom:2px; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }
#navBar ul li.selected:before, #leftBar ul li.selectable:hover:before { border-left: 7px solid #0055d4; }
#navBar ul li.selectable:hover { background-color: #282829; cursor: pointer; }
#navBar > ul { font-size: 1.375em; }
#navBar > ul > li { position:relative; padding: 12px 20px 8px 20px; border-bottom: 2px solid #282829; }
#navBar ul ul { font-size: 0.632em; }
#navBar ul ul li { position: relative; padding-top:2.5px; padding-bottom:2.5px}
#navBar ul ul li:before { left:-20px; padding-bottom:0; }
#navBar button.addButton { position: absolute; right:20px; padding: 0; height: 20px; width: 20px; background-color: #477e22; color: #dcdcdc }
#navBar button.addButton:hover { background-color: #3f5f2b; }
#navBar button.addButton img { position: absolute; left:5px; top:5px; }

#albumArt { position:absolute; bottom:0; left:0;}
#albumArt img { height: 275px; width: 275px; margin-left: auto; margin-right: auto;}

#infoBar { float:left; width: calc(100% - 315px); padding-left:20px; padding-right:20px; }
#infoBar > span { display: inline-block; margin-top: 10px; margin-bottom:10px; font-size: 1.375em;}
#infoBar input { float:right; width:300px; margin-top:5px; margin-bottom:5px; padding-right:40px; font-size:0.875em; background: #dcdcdc url('../img/search.png') no-repeat right 10px top 10px; }

#logo { margin-left:15px; margin-top: 15px; }

#topBar > div { float:left;}
#topBar .button.small { height: 32px; width: 32px; margin-top:22px; margin-left: 3px; margin-right:3px; padding:10px; line-height: 0; }
#topBar .button.large { margin-top:10px; padding:10px; line-height:0;}

#trackPane {float: left; width: calc(100% - 275px); height: calc(100% - 48px); font-size:0.8em; overflow-y:scroll;}
#trackPane > div { padding:10px; }
#trackPane table { width: 100%; border-collapse: collapse; -webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none; -ms-user-select: none; }
#trackPane tbody tr:hover { cursor: pointer; background-color: #0055d4; }
.playIndicator { width: 25px; padding-left: 5px; vertical-align: sub; line-height: 0.8em; }
.playIndicatorHover { display: none; }

#playControls { height:100px; width:185px; margin-left:15px;}
#playControls > div {float:left;}
#playControls .button.small  { margin-left: 0; margin-right:0; }

#volumeBox { width: 32px; height:0px; z-index:999; margin-top: 10px; margin-left:-10px; padding-left: 10px; padding-right:10px; background-color: #2c2c2d; transition: all ease 0.4s;}
#volume:hover #volumeBox, #volume img:hover #volumeBox, #volumeBox.locked { height:120px; padding: 10px 10px 20px; }
#volume:hover #volumeSlider, #volumeBox.locked #volumeSlider { width: 7px; height: 100%; margin-left:12px; padding-bottom: 10px; background-color: #dcdcdc; }
#volume:hover #volumeHandle, #volumeBox.locked #volumeHandle { width: 20px; height: 10px; margin-left:-7px; margin-bottom:-10px; background-color: #dcdcdc; }

#playSlider { height: 100px; width: calc(100% - 275px - 265px); padding-left:10px; padding-right:10px;}
#scrubber {width:100%; height: 5px; margin-top: 32px; background-color:#dcdcdc;}
#played {float: left; height: 5px; background-color: #0055d4;}
#playedHandle { float: left; margin-top:-7px; margin-left:-6px; width:10px; height:21px; background-color: #0055d4; }
#playedHandle.end {margin-left:-10px;}
#playedHandle.ui-draggable-dragging { margin-top:-10px; background-color: transparent; border: 2px solid #0055d4; }
#playInfo {font-size:0.750em; margin-top:20px; }
#trackInfo { float: left; }
#timeInfo { float: right; }

